# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/wp-content/themes/twenty*/

# Example plugin
/wp-content/plugins/hello.php

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

node_modules
tmp
context
coverage
hubspot.config.yml
hubspot.config.yaml
hs-acceptance-test.config.yml
npm-debug.log
npm-debug.log.*
*.log
.DS_Store
coverage
.env
dist
.node-version
yarn.lock

# Acceptance Tests
acceptance-tests/my-project
acceptance-tests/*.yml
acceptance-tests/*.html
acceptance-tests/test-output

**/.claude/settings.local.json
